<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newgen.evolvechain">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".new_uis.StartActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".new_uis.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".new_uis.CountrySelectionActivity"
            android:label="Select Country"
            android:screenOrientation="portrait"
            android:parentActivityName=".new_uis.SplashActivity" />

        <activity
            android:name=".new_uis.SignInActivity"
            android:label="Login"
            android:parentActivityName=".new_uis.SplashActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".new_uis.GeneratePinActivity"
            android:label=" "
            android:screenOrientation="portrait"
            android:parentActivityName=".new_uis.SplashActivity" />

        <activity
            android:name=".new_uis.OthersRegistrationActivity"
            android:label="North America"
            android:screenOrientation="portrait"
            android:parentActivityName=".new_uis.CountrySelectionActivity" />

        <activity
            android:name=".new_uis.BasicDetailActivity"
            android:label="Basic Details"
            android:screenOrientation="portrait"
            android:parentActivityName=".new_uis.OthersRegistrationActivity" />

        <activity
            android:name=".new_uis.GeneratePinStep2Activity"
            android:screenOrientation="portrait"
            android:label=" " />

        <activity
            android:name=".new_uis.SummaryActivity"
            android:label="Summary "
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:parentActivityName=".new_uis.OthersRegistrationActivity" />

        <activity
            android:name=".new_uis.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.BlueAction" />

        <activity
            android:name=".new_uis.SettingActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".new_uis.UserProfileActivity" />

        <activity
            android:name=".new_uis.ChangePinActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".new_uis.SettingActivity"
            android:label="Change Pin" />

        <activity android:name=".new_uis.AddressDetailActivity"
            android:screenOrientation="portrait"
            android:label="Address Details"
            android:parentActivityName=".new_uis.OthersRegistrationActivity"/>

        <activity
            android:name=".new_uis.DynamicDocumentActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".new_uis.OthersRegistrationActivity" />

        <activity android:name=".new_uis.UploadingHeldImageActivity"
            android:parentActivityName=".new_uis.OthersRegistrationActivity"
            android:label="Document Holding Photo"
            android:screenOrientation="portrait" />

        <activity android:name=".new_uis.EditActivity"
            android:screenOrientation="portrait"
            android:label="Edit Application"
            android:parentActivityName=".new_uis.SplashActivity"/>
    </application>

</manifest>