<!doctype html>
<html>
<!-- Header include -->
<%include views/web/layouts/head.html %>
<!-- END -->
<body>
    <!-- navigation include -->
  <%include views/web/layouts/navigation.html %>
    <!-- END -->
    <!-- Main content -->
        <div id="container" class="container">
            <div class="container">
                <br>
                <h2>Download</h2>
                <h3>Technical Wallet Download EvolveChain v0.9.3</h3>
                <table class="table table-condensed table-striped table-hover" style="background-color:white;">
                    <tr>
                        <th>Your Operating System</th>
                        <th>Download</th>
                    </tr>
                    <tr>
                        <td><img src="<%web_site%>/img/Windows-icon.png" width="60px"><br>
                            Windows 64 and 32 bit     
                        </td>
                        <td>
                            <a target="_blank"  href="/downloads/evolvechain-0.9.3-win64-setup.exe">EvolveChain Setup - 64 bit</a><br>
                            <a target="_blank"  href="/downloads/evolvechain-0.9.3-win32-setup.exe">EvolveChain Setup - 32 bit</a><br>
                      Your Windows OS can be 64 or 32 bit.<br> If you are not sure, it is advisable to download EvolveChain Setup 32 bit.     
                        </td>
                    </tr>

                    <tr>
                      <td><img src="<%web_site%>/img/Linux-icon.png" width="60px"><br>
                      Linux 
                      </td>
                      <td>
                      <a target="_blank"  href="/downloads/evolvechain-0.9.3-linux.zip">EvolveChain 64/32 bit & source</a><br>
                      Your OS is Linux based, download from above link.     </td>
                    </tr>

                    <tr>
                      <td><img src="<%web_site%>/img/OSX-icon.png" width="60px"><br>
                      OSX
                      </td>
                      <td>
                      <a target="_blank"  href="/downloads/EvolveChain-Qt.dmg">EvolveChain 64 bit</a><br>
                      Your OS is MAC OSX 10.7 download from above line      </td>
                    </tr>
                </table>

            </div>
        </div>
    <!-- END -->
    <!-- footer include -->
    <%include views/web/layouts/footer.html %>
    <!-- END -->
    <!-- scripts include -->
    <%include views/web/layouts/scripts.html %>
    <!-- END -->
</body>
</html>