<!doctype html>
<html>

<style>
    .header {
        color: white;
        background-color: #0f75bd;
    }
</style>
<!-- Header include -->
<%include layouts/head.html %>
    <!-- END -->

    <body>
        <!-- navigation include -->
        <%include layouts/navigation.html %>
            <!-- END -->
            <!-- Main content -->
            <div id="container" class="container">
                <div class="container">
                    <form role="form" action="/verifyKyc/<%=kycData.app_key%>" method="post">
                        <br>
                        <h4 class="padded">Know your customer (KYC)
                        </h4>

                        <div class="row">
                            <div class="col-md-5">
                                App Id:
                                <b>
                                    <%=kycData.app_key%>
                                </b>
                            </div>
                            <div class="col-md-4">
                                eKycId:
                                <b>
                                    <%=kycData.eKycId%>
                                </b>
                            </div>
                            <div class="col-md-3">
                                Country:
                                <b>
                                    <%=kycData.country_iso%>
                                </b>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="alert header"> Basic
                                    <span class="float-right"></span>
                                </h5>

                                <table class="table">
                                    <% for(let j = 0; j < kycData.BasicInfo.DocDetails.length; j++) { %>
                                        <tr>
                                            <td>
                                                <%=kycData.BasicInfo.DocDetails[j].name%>:
                                            </td>
                                            <td>
                                                <%=kycData.BasicInfo.DocDetails[j].value%>
                                            </td>
                                        </tr>
                                        <% } %>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="alert header"> Profile
                                    <span class="float-right"></span>
                                </h5>
                                <table class="table">
                                    <tr>
                                        <% for(let k = 0; k <  kycData.BasicInfo.DocImages.length; k++) { %>

                                            <td>
                                                <img height="200" width="200" src="<%=kycData.BasicInfo.DocImages[k].url%>" width="100%">
                                            </td>

                                            <% } %>
                                    </tr>
                                </table>
                                <table class="table">
                                        <tr>
                                            <td>
                                                Email:
                                            </td>
                                            <td>
                                                <%=kycData.email%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phone:
                                            </td>
                                            <td>
                                                <%=kycData.phone%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Verification Code:
                                            </td>
                                            <td>
                                                <%=kycData.verification_code%>
                                            </td>
                                        </tr>
                                </table>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="alert header"> Identity
                                    <span class="float-right"></span>
                                </h5>
                                <table class="table">
                                    <tr>
                                        <% for(let k = 0; k <  kycData.IdentityInfo.DocImages.length; k++) { %>

                                            <td>
                                                <img height="200" width="200" src="<%=kycData.IdentityInfo.DocImages[k].url%>" width="100%">
                                            </td>

                                            <% } %>
                                    </tr>
                                </table>
                                <table class="table">
                                    <% for(let j = 0; j < kycData.IdentityInfo.DocDetails.length; j++) { %>
                                        <tr>
                                            <td>
                                                <%=kycData.IdentityInfo.DocDetails[j].name%>:
                                            </td>
                                            <td>
                                                <%=kycData.IdentityInfo.DocDetails[j].value%>
                                            </td>
                                        </tr>
                                        <% } %>
                                </table>

                            </div>
                            <div class="col-sm-6">

                                <h5 class="alert header"> Address
                                    <span class="float-right"></span>
                                </h5>
                                <table class="table">
                                    <tr>
                                        <% for(let k = 0; k <  kycData.AddressInfo.DocImages.length; k++) { %>

                                            <td>
                                                <img height="200" width="200" src="<%=kycData.AddressInfo.DocImages[k].url%>" width="100%">
                                            </td>

                                            <% } %>
                                    </tr>
                                </table>
                                <table class="table">
                                    <% for(let j = 0; j < kycData.AddressInfo.DocDetails.length; j++) { %>
                                        <tr>
                                            <td>
                                                <%=kycData.AddressInfo.DocDetails[j].name%>:
                                            </td>
                                            <td>
                                                <%=kycData.AddressInfo.DocDetails[j].value%>
                                            </td>
                                        </tr>
                                        <% } %>
                                </table>
                            </div>
                        </div>
                </div>

                <table class="table">
                    <tr>
                    <th>Reasons:</th>
                    </tr>
                    <tr>
                        <td style="display: grid;
                        grid-template-columns: auto auto auto;">

                            <% for(let j = 0; j < kycData.reasonList.length; j++) { %>
                               <label style="
                               text-align:left;">
                            <input  value=<%=kycData.reasonList[j].reason%> type="checkbox" name="reasonList" <%=kycData.reasonList[j].state ? 'checked': 'unchecked' %> >  <%=kycData.reasonList[j].reason%></label>
                            <% } %>
                        </td>
                    </tr>
                
                </table>

                <input type="text" value="<%=kycData.verification_comment%>" class="form-control input-lg" placeholder="Comments" name="textBoxComment"
                />
                <hr>
                <% if(!kycData.is_verified) {%>
                <input value="Verify" type="submit" name="action" class="btn btn-success">

                <input value="Reject" type="submit" name="action" class="btn btn-danger">
                    <%}%>
            </div>


            </form>
            </div>
            <hr>
            </div>
            </div>
            <!-- END -->
            <!-- footer include -->
            <%include layouts/footer.html %>
                <!-- END -->
                <!-- scripts include -->
                <%include layouts/scripts.html %>
                    <!-- END -->
    </body>

</html>