<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff" style="padding:0px;line-height:1px;font-size:1px">
 <tbody>
  <tr>
   <td width="100%" align="center" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">

    <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F5F8FA" width="100%" dir="ltr" style="padding:0px;line-height:1px;font-size:1px">
     <tbody>
      <tr>
       <td style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" style="padding:0px;line-height:1px;font-size:1px">
         <tbody>
          <tr>
           <td width="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
            &nbsp; </td>
           <td style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
            <table cellpadding="0" cellspacing="0" border="0" align="center" dir="ltr" style="padding:0px;line-height:1px;font-size:1px">
             <tbody>
              <tr>
               <td height="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
                &nbsp; </td>
              </tr>
              <tr>
               <td align="right" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px;font-size:0px;line-height:100%;padding:0px">
                <img src="<%= SITE_IMAGE %>Logo_Slabdeck.png" width="50px" title="<%= SITE_NAME %>" alt="<%= SITE_NAME %>" style="margin:0px;padding:0px;display:inline-block;border:none;outline:none"
                />
               </td>
              </tr>
              <tr>
               <td height="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
                &nbsp; </td>
              </tr>
              <tr>
               <td align="left" dir="ltr" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;padding:0px;margin:0px;font-weight:bold;line-height:32px">
                Invite and Earn</td>
              </tr>
              <tr>
               <td height="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
                &nbsp; </td>
              </tr>
              <tr>
               <td align="left" dir="ltr" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;padding:0px;margin:0px;font-weight:normal;line-height:20px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;padding:0px;margin:0px;font-weight:normal;line-height:22px">
                Hello,
               </td>
              </tr>
              <tr>
               <td align="left" dir="ltr" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;padding:0px;margin:0px;font-weight:normal;line-height:20px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;padding:0px;margin:0px;font-weight:normal;line-height:22px">
                Here is your code
               </td>
              </tr>
              <tr style="text-align:center;">
               <td dir="ltr" style="margin-top:20px !important;margin-bottom:20px !important;display:inline-block;padding:0px;margin:0px auto;line-height:1px;font-size:1px;text-align:center;margin:auto;border-radius:4px;line-height:18px"
                bgcolor="#1DA1F2" align="center">
                <a align="center" style="text-decoration:none;border-style:none;border:0px;padding:0px;margin:0px;color:#1da1f2;text-decoration:none;font-size:16px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;color:#ffffff;text-decoration:none;border-radius:4px;padding:11px 30px;;display:inline-block;font-weight:bold"
                 target="_blank">
                 <%= CODE %>
                </a>
               </td>
              </tr>
              <tr>
               <a href=""><img src="<%= ICON %>app-store.png"   alt="App Store" style="width:150px;margin:0px;padding:10px;display:inline-block;border:none;outline:none"
                /></a>
                <a href="https://play.google.com/store/apps/details?id=com.slabdeck">
                <img  src="<%= ICON %>google-store.png"   alt="Google Store" style="width:150px;margin:0px;padding:10px;display:inline-block;border:none;outline:none"
                /></a>
              </tr>
              <tr>
               <td height="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
                &nbsp; </td>
              </tr>
             </tbody>
            </table>
           </td>
           <td width="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
            &nbsp; </td>
          </tr>
         </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" bgcolor="#ffffff" style="padding:0px;line-height:1px;font-size:1px">
         <tbody>
          <tr>
           <td width="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
            &nbsp; </td>
           <td style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
            <table align="center" dir="ltr" style="padding:0px;line-height:1px;font-size:1px">
             <tbody>
              <tr>
               <td height="60" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
                &nbsp; </td>
              </tr>
              <tr>
               <td height="12" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
                &nbsp; </td>
              </tr>
              <tr>
               <td align="center" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;color:#8899a6;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:16px;text-align:center;margin:auto">
                <span> Copyright &copy;
                 <%= CURRENT_YEAR %>
                  <%= SITE_NAME %>, All rights reserved
                </span>
               </td>
              </tr>
              <tr>
               <td height="60" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
                &nbsp; </td>
              </tr>
             </tbody>
            </table>
           </td>
           <td width="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
            &nbsp; </td>
          </tr>
         </tbody>
        </table>
       </td>
      </tr>
      <tr>
       <td height="32" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
        &nbsp; </td>
      </tr>
     </tbody>
    </table>
   </td>
  </tr>
  <tr>
   <td align="center" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;color:#ffffff;font-family:Arial,sans-serif;font-size:14px">
    ———————————————————————————— </td>
  </tr>
 </tbody>
</table>