
<link rel="stylesheet" href="../../../assets/css/main.css">
<header class="evolvechain-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<div class="evolvechain-logo">
					<a routerLink="/">
						<img src="assets/img/Logo2.jpg" alt="" />
						<strong>EvolveChain</strong>
					</a>
				</div>
			</div>
			<div class="col-sm-5 offset-sm-5 text-right">
				<!-- <nav class="header-nav">
					<ul>
						<li><a href="#about">About Us</a></li>
						<li><a href="#contact">Contact Us</a></li>
						<li><a href="#"  data-toggle="modal" data-target="#myModal">Log In</a></li>
					</ul>
				</nav> -->
			</div>
		</div>
	</div>
</header>

    <div  class="terms-conditions">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12">
    				<div class="terms-conditions-img">
    					<img src="assets/img/terms-conditions-banner1.jpg" alt="" />
    				</div>
    			</div>
    			<div class="col-sm-12">
    				<div class="">
    					<h2>Terms of Use</h2>
    					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

    <app-home-footer></app-home-footer>
  
	<!-- <footer class="evolvechain-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="copyright">
						<span>© EvolveChain 2018</span>
					</div>
				</div>
				<div class="col-sm-6 text-right">
					<div class="app-icon">
						<span>Download Our App: </span>
						<a href=""><img src="assets/img/apple.png" alt="" /></a>
						<a href=""><img src="assets/img/android.png" alt="" /></a>
					</div>
				</div>
				
			</div>
		</div>
		
	</footer> -->
